/*general*/

html,body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ededed;
}

html{
    box-sizing: border-box;
   
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*scroll bar*/
  
*::-webkit-scrollbar {
  width: 12px;
}
  
*::-webkit-scrollbar-track {
  background: black;
}
  
*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
  border: 2px solid #333;
}

/*header*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover:not(.active) {
  background-color: #111;
}
  
.active {
  background-color:slateblue;
}

/*hero*/

.hero-image {
  background-image: url("../images/annie-spratt-qyAka7W5uMY-unsplash.jpg");
  height: 700px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text-title {
  background-color: #333;
  font-size: 50px;
  padding: 20px 20px;
  border-radius: 25px;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: slateblue;
  text-align: center;
  cursor: pointer;
}
  
.hero-text button:hover {
  background-color: #555;
  color: white;
}

.hero-image-source{
  float:right;
  margin-top: 682px;
  background-color: bisque;
}

/*section*/

section{
  padding: 150px 150px ;
  margin: 30px;
}

/*travel destination form*/

.destination-form{
  padding: 30px 30px;
  border: solid;
  border-radius: 20px;
  background-color: slateblue;
}

/*content description*/

.column {
  float: left;
  width: 50%;
  border: solid;
  padding: 50px;
  border-radius: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*footer*/

footer{
  padding: 50px 50px;
  background-color: #333;
}